.header__button:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.header__button {
  transition: all 0.3s;
}

.play__button:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.play__button {
  transition: all 0.3s;
}

.img__card {
  transition: all 0.5s;
}

.img__card:hover {
  transform: scale(1.10);
}